{% set classes = [
  'uiextra-text-teaser-thin',
] %}

{% set attributes = attributes|default(create_attribute({
  'class': [
    'tablet:padding-top-10',
    'padding-top-5',
    'tablet:padding-bottom-10',
    'padding-bottom-5'
  ]
})) %}

<div{{ attributes.addClass(classes) }}>
  <div class="grid-container">

    {% set row_attributes = row_attributes|default(create_attribute({
      'class': [
        'maxw-desktop-lg',
      ]
    })) %}

    <div{{ row_attributes.addClass('grid-row', 'flex-align-center', 'margin-left-auto', 'margin-right-auto') }}>

      <div class="tablet:grid-col-9">
        {% set title_attributes = title_attributes|default(create_attribute({
          'class': [
            'margin-0'
          ]
        })) %}

        <h3{{ title_attributes.addClass('uiextra-text-teaser-thin__title') }}>{{ title }}</h3>
      </div>

      <div class="tablet:grid-col-fill">
        {% if button %}
          {% set button_attributes = button_attributes|default(create_attribute()) %}

          <div{{ button_attributes.addClass('uiextra-text-teaser-thin__button') }}>
            {{ button }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
