.uiextra-text-teaser-thin h3 {
  margin: 0;
}

.uiextra-text-teaser-thin .uiextra-text-teaser-thin__button {
  float: right;
  /* copied from uswds grid */
  @media (max-width: 640px) {
    float: left;
    padding-top: 1rem;
  }
}
