{% set classes = [
  'uiextra-text-teaser',
  'text-center',
] %}

<div{{ attributes.addClass(classes) }}>

  {% if title %}
    {% set title_attributes = title_attributes|default(create_attribute({
      'class': [
        'padding-top-10',
        'margin-bottom-3'
      ]
    })) %}

    <h2{{ title_attributes.addClass('uiextra-text-teaser__title') }}>{{ title }}</h2>
  {% endif %}

  {% if content %}
    {% set content_attributes = content_attributes|default(create_attribute({
      'class': [
        'maxw-tablet-lg',
        'margin-left-auto',
        'margin-right-auto',
        button ? '' : 'padding-bottom-8'
      ]
    })) %}

    <div{{ content_attributes.addClass('uiextra-text-teaser__content') }}>
      {{ content }}
    </div>
  {% endif %}

  {% if button %}
    {% set button_attributes = button_attributes|default(create_attribute({
      'class': [
        'margin-top-3',
        'padding-bottom-10'
      ]
    })) %}

    <div{{ button_attributes.addClass('uiextra-text-teaser__button') }}>
      {{ button }}
    </div>
  {% endif %}

</div>
